<%- include("../partials/header") %>

<h4>Enter a Party Name</h4>
<form class="new-party" action="/parties" method="post">
    <label>Name:</label>
    <input type="text" name="name" placeholder="don't overthink it...">
    <input type="submit" value="Create Party">
</form>

<%- include("../partials/footer") %>